<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-icon id="iconBig" name="arrow-back" routerLink="/home"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  

<ion-content class="background">
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title color="primary" >Sociedad Mexicana de Oftalmología A.C.</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Boston 99, <br>
      Col. Nochebuena, <br>
      CDMX C.P. 03720, <br>
      Telefonos:(55) 5563-9393, 5563-7812, 5598-3827 y 5598-5372, 5611-1343 <br>
      contacto@smo.org.mx
    </ion-card-content>
  </ion-card>

  <ion-card color="primary">
      <ion-card-header>
          <ion-card-title>Formulario de Contácto</ion-card-title>
        </ion-card-header>
    <ion-item color="primary">
        <ion-label>Nombre:</ion-label>
         <ion-input placeholder="Nombre"></ion-input>
         <hr>
    </ion-item>
    <ion-item color="primary">
        <ion-label>Apellido:</ion-label>
        <ion-input placeholder="Apellido"></ion-input>
        <hr>
    </ion-item>
    <ion-item color="primary">
        <ion-label>Teléfono:</ion-label>
        <ion-input type="number" placeholder="5555555555"></ion-input>
        <hr>
    </ion-item>
    <ion-item color="primary">
        <ion-label>Correo Electrónico:</ion-label>
        <ion-input placeholder="correo@email.com"></ion-input>
        <hr>
    </ion-item>
    <ion-item color="primary">
        <ion-label >Comentarios:</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>

    <br>
        <br>
  </ion-card>
</ion-content>
