

<ion-content class="background">
  
  <ion-item color="primary">
    <img class="logoSmall" src="../../assets/logo_smo_blanco.png">
</ion-item>
      
  
  <br>
    <ion-row>
      <ion-col size="4">
        <ion-buttons routerLink="/socio" color="secondary" expand="full" shape="round">
          <img class="logoHome" src="../../assets/icon/socios.png">
        </ion-buttons>
      </ion-col>
    <ion-col size="4">
      <ion-buttons expand="full" shape="round">
        <img class="logoHome" src="../../assets/icon/coloq.png">
      </ion-buttons>
    </ion-col>
    <ion-col size="4">
      <ion-buttons expand="full" shape="round">
        <img class="logoHome" src="../../assets/icon/transm.png">
      </ion-buttons>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
      <ion-col size="4">
        <ion-buttons color="secondary" expand="full" shape="round">
          <img class="logoHome" src="../../assets/icon/congres.png">
        </ion-buttons>
      </ion-col> 
      <ion-col size="4">
          <ion-buttons routerLink="/sesiones" expand="full" shape="round">
            <img class="logoHome" src="../../assets/icon/sesion.png">
          </ion-buttons>
      </ion-col> 
      <ion-col size="4">
        <ion-buttons (click)="revistaSMO()" color="secondary" expand="full" shape="round">
          <img class="logoHome" src="../../assets/icon/REVISTA.png">
        </ion-buttons>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
        <ion-col size="4">
          <ion-buttons routerLink="/directiva" expand="full" shape="round">
            <img class="logoHome" src="../../assets/icon/mesa.png">
          </ion-buttons>
        </ion-col> 
        <ion-col size="4">
          <ion-buttons (click)="articulosSMO()" expand="full" shape="round">
            <img class="logoHome" src="../../assets/icon/articulos.png">
          </ion-buttons>
        </ion-col>
        <ion-col size="4">
          <ion-buttons routerLink="/contacto" expand="full" shape="round">
            <img class="logoHome" src="../../assets/icon/contact.png">
          </ion-buttons>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col size="4">
          <ion-buttons (click)="fbSMO()" color="secondary" expand="full" shape="round">
            <img class="logoHome" src="../../assets/icon/redes.png">
          </ion-buttons>
        </ion-col> 
        <ion-col size="4">
          <!--->ion-buttons (click)="()" expand="full" shape="round">
            <img class="logoHome" src="../../assets/icon/.png">
          </ion-buttons-->
        </ion-col>
        <ion-col size="4">
          <!-->ion-buttons routerLink="/" expand="full" shape="round">
            <img class="logoHome" src="../../assets/icon/.png">
          </ion-buttons-->
        </ion-col>
      </ion-row>
<br>
      
</ion-content>
