
ion-content.background{
    --background: url(../../assets/background.jpg) 0 0/100% 100% no-repeat;
}

.buttonLett{
    font-size: 0.6em;
    font-size-adjust: unset;
    color: #ffffff;
}

.logoSmall{
    size: 4em;
}

.logoHome{
    size: 1em;
    padding: 7px;
}