<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-icon id="iconBig" name="arrow-back" routerLink="/home"></ion-icon>
    </ion-buttons>
    <ion-title text-capitalize>Coloquios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <img src="../../assets/col1.png" class="logoSmall">
</ion-card>
<ion-card>
  <img src="../../assets/col2.png" class="logoSmall">
</ion-card>
<ion-card>
  <img src="../../assets/col3.png" class="logoSmall">
</ion-card>
</ion-content>
