// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #006;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #eee8e8;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: rgb(31, 31, 70);
  --ion-color-primary-tint: rgb(5, 5, 170);

  /** secondary **/
  --ion-color-secondary: #b9b9b9;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #222222;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: rgb(122, 122, 122);
  --ion-color-secondary-tint: rgb(216, 216, 219);

  /** tertiary **/
  --ion-color-tertiary: #7272724d;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #403f42;
  --ion-color-tertiary-tint: #006;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #31302d1f;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #2c2c2b23;
  --ion-color-warning-tint: #24232213;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #000000;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #000000;
  --ion-color-dark-tint: #000000;

  /** medium **/
  --ion-color-medium: #006;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #006;
  --ion-color-medium-tint: #006;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

    /** transp **/
    --ion-color-transp: #00000000;
    --ion-color-transp-rgb: 255, 206, 0;
    --ion-color-transp-contrast: #ffffff;
    --ion-color-transp-contrast-rgb: 255, 255, 255;
    --ion-color-transp-shade: #00000000;
    --ion-color-transp-tint: #00000000;

     /** shadow **/
     --ion-color-shadow: #00000011;
     --ion-color-shadow-rgb: 244, 244, 244;
     --ion-color-shadow-contrast: #ffffff;
     --ion-color-shadow-contrast-rgb:  #00000011;
     --ion-color-shadow-shade: #ffffff11;
     --ion-color-shadow-tint: #00000011;
}
