ion-content.background{
    --background: url(../../assets/background.jpg) 0 0/100% 100% no-repeat;
}
.logoSmall{
    background-color: #00000000;
    size: 4em;
}

.white{
    color: white;
    padding: 10px;
    text-align: center;
}

.blueOne{
    color: #0303b4;
    padding: 10px;
    text-align: center;
}
.blueOne:hover{
    color: #dedee4;
    padding: 10px;
    text-align: center;
} 