.littleText{
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

ion-card.littleBlock{
    border-style: solid;
    border-width: 1px;
    border-color: white;
    margin: 1px;
}

.littleIcon{
    font-size: 30px;
    padding-right: 25px;
    padding-left: 28px;
}

.img{
padding-right: 25px;
padding-left: 28px;
width: 3px !important;
height: 3px !important;
    
}