<ion-header>
  <ion-toolbar  color="primary">
    <ion-title>Dr. Eduardo Chavez Mondragón</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item  color="primary">
    <img id="perfil" src="../../assets/drEduardoC.png">
</ion-item>
<ion-row color="medium">
  <ion-col size="3">
    <ion-card class="littleBlock" color="medium">
        <ion-icon class="littleIcon" name="document"></ion-icon>
      <p class="littleText">Reglamento <br> y estatuto</p></ion-card>
  </ion-col>
  <ion-col size="3">
    <ion-card class="littleBlock" color="medium">
        <ion-icon class="littleIcon" name="today"></ion-icon>
      <p class="littleText">Artículos <br> de revistas</p></ion-card>
  </ion-col>
  <ion-col size="3">
    <ion-card class="littleBlock" color="medium">
        <ion-icon class="littleIcon" name="browsers"></ion-icon>
      <p class="littleText">Publicar <br> Anuncios</p></ion-card>
  </ion-col>
  <ion-col size="3">
    <ion-card class="littleBlock" color="medium">
        <ion-icon class="littleIcon" name="paper"></ion-icon>
      <p class="littleText">Publicar <br> Artículos</p></ion-card>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size="9">
    <ion-card>
      <ion-button>Reglamento y estatuto</ion-button>
      <ion-button>Artículos de revistas</ion-button>
      <ion-button>Publicar Anuncios</ion-button>
      <ion-button>Publicar Artículos</ion-button>
    </ion-card>
  </ion-col>
  <ion-col size="3">
    <ion-card>
      <ion-list>
        <p>Cuotas</p>
        <ion-button> 2019</ion-button> <br>
        <ion-button>2018</ion-button> <br>
        <ion-button>2017</ion-button>
      </ion-list>
    </ion-card>
  </ion-col>
</ion-row>
</ion-content>
