ion-slides {
    height: 100%;
}

h1 {
  font-family: 'Roboto Condensed',  Bold;
  font-size-adjust: auto;
  font-size: 20px;
  text-align: center;
}

h2 {
  font-family: 'Roboto Condensed', Bold;
  font-size-adjust: auto;
  font-size: 18px;
  text-align: center;
}

h3{
  font-family: 'Roboto Condensed', Bold;
  font-size-adjust: auto;
  text-align: left;
  font-size: 16px;
}

h4 {
  font-family: 'Roboto Condensed', Bold;
  font-size-adjust: auto;
  font-size: 14px;
  text-align: center;
}

h5 {
  font-family: 'Roboto Condensed', Bold;
  font-size-adjust: auto;
  font-size: 12px;
  text-align: center;
}

p{
  font-family: 'Roboto Condensed', Bold;
  font-size-adjust: auto;
  text-align: left;
  font-size: 11px;
}

ion-button{
  color: white;
  align-content: center;
  background-color: rgba(249, 99, 81, 0);
}
